<div id="demo-container" class="container-fluid">
  <h2>
    {{title}}
    <span class="float-end">
      <a style="font-size: 18px"
         target="_blank"
         href="https://github.com/ghiscoding/Angular-Slickgrid/blob/master/src/app/examples/grid-remote.component.ts">
        <span class="fa fa-link"></span> code
      </a>
    </span>
  </h2>
  <div class="subtitle" [innerHTML]="subTitle"></div>

  <div class="col-md-6" style="margin-bottom: 15px">
    <label>Octopart Catalog Search <small>(type a word then press ENTER)</small></label>
    <input type="text" class="form-control" [value]="search" (change)="searchChanged($event.target.value)">
  </div>

  <div class="alert alert-danger col-md-7" role="alert">
    <strong>Note:</strong>
    this demo no longer displays any results because the WebAPI Key to connect and query the <b>Octopart Component
      Search</b> is no longer valid. However the concept remains valid, which is to use your own Custom DataView
    instead of the default SlickGrid DataView used by this library.
  </div>

  <div class="alert alert-warning col-md-6" role="alert" *ngIf="loading">
    <i class="fa fa-refresh fa-spin fa-lg fa-fw"></i>
    <span>Loading...</span>
  </div>

  <angular-slickgrid gridId="grid18" [columnDefinitions]="columnDefinitions" [gridOptions]="gridOptions"
                     [dataset]="dataset" [customDataView]="customDataView"
                     (onAngularGridCreated)="angularGridReady($event.detail)"
                     (onViewportChanged)="onViewportChanged($event.detail.eventData, $event.detail.args)"
                     (onSort)="onSort($event.detail.eventData, $event.detail.args)">
  </angular-slickgrid>
</div>