<div id="demo-container" class="container-fluid">
  <h2>
    {{title}}
    <span class="float-end">
      <a style="font-size: 18px"
         target="_blank"
         href="https://github.com/ghiscoding/Angular-Slickgrid/blob/master/src/app/examples/grid-rowmove.component.ts">
        <span class="fa fa-link"></span> code
      </a>
    </span>
  </h2>
  <div class="subtitle" [innerHTML]="subTitle"></div>

  <div class="row mb-2">
    <div class="col-sm-12">
      <button class="btn btn-outline-secondary btn-sm" data-test="hide-duration-btn"
              (click)="hideDurationColumnDynamically()">
        <i class="fa fa-eye-slash"></i>
        Dynamically Hide "Duration"
      </button>
      <button class="btn btn-outline-secondary btn-sm" data-test="disable-filters-btn" (click)="disableFilters()">
        <i class="fa fa-times"></i>
        Disable Filters
      </button>
      <button class="btn btn-outline-secondary btn-sm" data-test="disable-sorting-btn" (click)="disableSorting()">
        <i class="fa fa-times"></i>
        Disable Sorting
      </button>
      <button class="btn btn-outline-secondary btn-sm" data-test="toggle-filtering-btn" (click)="toggleFilter()">
        <i class="fa fa-random"></i>
        Toggle Filtering
      </button>
      <button class="btn btn-outline-secondary btn-sm" data-test="toggle-sorting-btn" (click)="toggleSorting()">
        <i class="fa fa-random"></i>
        Toggle Sorting
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <angular-slickgrid gridId="grid17"
                         [columnDefinitions]="columnDefinitions"
                         [gridOptions]="gridOptions"
                         [dataset]="dataset"
                         (onAngularGridCreated)="angularGridReady($event.detail)">
      </angular-slickgrid>
    </div>
  </div>
</div>